adata==2.9.0
adata==2.9.2
apscheduler==3.11.0
chardet==5.2.0
Flask==3.1.2
Flask_Cors==5.0.0
mysql_connector_repackaged==0.3.1
numpy==1.26.0
pandas==2.0.3
Requests==2.32.5
SQLAlchemy==2.0.44
tushare==1.4.21
urllib3==1.26.20
mysql-connector-python==8.0.33